@use "../styles/config" as *;

.blok-icon {
	display: inline-flex;
	width: var(--bs-icon-size, 48px);
	height: var(--bs-icon-size, 48px);
	color: var(--bs-icon-color, currentColor);

	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}
